* {
  padding: 0px;
  margin: 0px;
}

header {
  background-image: url("public/medbgimg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.heading {
  color: var(--primary-color);
  text-align: center;
  font-weight: 700;
  font-size: clamp(
    1.5rem,
    5vw,
    2.5rem
  ); /*  min 1.5rem (24px), grows up to 2.5rem (40px) on large screens */
  height: auto;
  text-decoration: none;
}
.captiontext {
  text-align: center;
  color: var(--text-color);
  font-size: medium;
  font-size: clamp(0.9rem, 2.5vw, 1.2rem);
  margin: 20px auto 40px auto;
}
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
  padding-bottom: 110px;
}
.card {
  background-color: var(--primary-color);
  border: 1px solid var(--surface-color);
  color: #fff;
  width: 300px;
  height: 300px;
  margin: 10px;
  border-radius: 15px;
  margin-bottom: 40px;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: rgba(25, 1, 47, 0.4) 0px 4px 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.cardimage {
  height: 170px;
  background-size: cover;
  margin-bottom: 15px;
  border-radius: 15px 15px 0 0;
}
.card:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.card1 {
  background-image: url("public/img1.jpeg");
}

.card2 {
  background-image: url("public/img2.jpg");
}
.card3 {
  background-image: url("public/img3.jpg");
}
.card4 {
  background-image: url("public/img4.jpg");
}
.card5 {
  background-image: url("public/img5.jpg");
}
.card6 {
  background-image: url("public/img6.jpg");
}

.bottom {
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: var(--primary-color);
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.icons {
  margin-top: 14px;
}
#myprogressbar {
  width: 80vw;
  text-align: center;
  color: rgb(212, 56, 142);
}
i {
  font-size: 35px;
  cursor: pointer;
  color: var(--secondary-color);
}
i:hover {
  transform: scale(1.06);
  color: var(--hover-color);
}
