* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
.navbar {
    background-color: rgb(5, 5, 50);
    color: whitesmoke;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    color: rgb(83, 225, 197);
    font-size: 1.5em;;
    font-weight: bold;
    text-align: center;
}
.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-links li {
    margin: 13px;
}
.nav-links a {
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
}
.nav-links a:hover {
    color: rgb(179, 114, 240);
}
.nav-toggle {
    display: none;
    cursor: pointer;
    font-size: 1.5em;
}
.login {
    background-color: rgb(83, 225, 197);
    padding: 5px 12px;
    border-radius: 3px;
    text-decoration: none;
}
.hero {
    background-color: rgb(83, 225, 197);
    color: rgb(5, 5, 50);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hero h1 {
    font-size: 3em;
    margin-bottom: 20px;
}
.hero p {
    font-size: 1.2em;
    margin-bottom: 20px;
}
.hero a {
    background-color: rgb(5, 5, 50);
    color: whitesmoke;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}
.hero a:hover {
    color: rgb(179, 114, 240);
}
.detail-h1 {
    text-align: center;
    margin: 10px;
    color: rgb(5, 5, 50);
    font-size: 2.5em;
}
.details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
.detail{
    background-color: rgb(5, 5, 50);
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 32%;
    text-align: center;
    margin: 5px;
}
.detail h2 {
    margin-bottom: 10px;
}
.detail p {
    font-size: 1.1em;
}
@media (max-width: 466px) {
    .nav-links {
        position: absolute;
        top: 48px;
        right: 2px;
        border: white 1px solid;
        border-radius: 5px;
        box-shadow: rgba(25, 1, 47, 0.4) 0px 4px 8px;
        width: 60%;
        background-color:rgb(5, 5, 50);
        flex-direction: column;
        align-items: flex-start;
        display: none;
    }
    .nav-links li {
        font-size:smaller;
        padding: 4px;
        font-weight:lighter;
        margin: 3px 15px;
        text-align: center;
    }
    .nav-toggle {
        display: block;
    }
    .nav-links.active {
        display: flex;
    }
}