
.service_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem ;

}

.service_header {
  display: flex;
  justify-content: center; /* Horizontal center */
  align-items: center;     /* Vertical center */
}

 .service_grid{
    
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(4, 225px);
    gap : 20px;
    justify-content: center;
 }
 .service_card{
    
    text-align: center;
    border-radius: 10px;
    background-color: aliceblue;
    cursor: pointer;
    margin-left: 0px;
    
    height: 175px;
    width: 160px;
 }
 .service_card span{
    display: inline-block;
    margin: 20px;
    padding: 20px;
    font-size: 1.25rem;
    background-color: rgba(0, 114, 245, 0.663);
    border-radius: 100%;
    transition: 0.3s;
 }
 .service_card h4{
    margin-top: 10px;
   
    font-weight: 600;
    color: var(--text-dark);
 }
.service_card:hover span{
    color: var(--primary-color-light);
    background-color: var(--primary-color);
}
.footer1{
    margin-top: 30px;
    background-color: black;
    color: white;
    padding: 20px;
}
.fcontent{
    margin-bottom: 20px;
}
.follow{
    margin-bottom: 0px;
     display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    padding-top: 30px;
    gap: 3rem;
}
.grid{
  
    display: grid;
    grid-template-columns: repeat(4, 40px);
    gap : 20px;
    justify-content: center;
}
.grid span{
    font-size: 2rem;
}
.section_footer{
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap:2rem;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 20px;
    gap: 200px;;
}
.foot{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}